body {
    background-color: #004134;
    font-family: 'Comic Neue';
}

.wrapper {
    padding: 10px;
    margin: 10vh auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

textarea {
    height: 250px;
    width: 98.4%;
    font-size: 22px;
    margin: 17px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px 6px #101010a6;
}

.keyboard {
    height: 392px;
}

.line {
    display: flex;
}

.key {
    cursor: pointer;
    width: 6%;
    height: 55px;
    line-height: 55px;
    font-size: 22px;
    box-shadow: 0 0 7px 4px #1b19195c;
    color: #fff;
    background: #41948373;
    margin: 4px;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    transform: scale(1);
    transition: transform .25s ease-in-out, background-color .25s ease-in-out;
}

.key:hover {
    background-color: #1a695954;;
    color: white;
}

.key span{
    user-select: none;
}

.key sup {
    margin-left: 5px;
    vertical-align: super;
    font-size: smaller;
}

.backspace {
    width: 13%;
}

.tab {
    width: 7%;
}

.del {
    width: 4.8%;
}

.caps-lock {
    width: 8%;
}

.enter {
    width: 12.4%;
}

.shift {
    width: 15.4%;
}

.space {
    width: 44%;
}

.group-btn {
    width: 8%;
    height: 53px;
}

.arrow-up {
    cursor: pointer;
    height: 20px;
    line-height: 21px;
    font-size: 15px;
    margin: 2px;
    margin-top: 4px;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    width: 88%;
}

.arrow-down {
    cursor: pointer;
    height: 20px;
    line-height: 21px;
    font-size: 15px;
    margin: 2px;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    width: 88%;
}

.arrow-up:hover {
    background-color: #1a695954;;
    color: white;
}

.arrow-down:hover {
    background-color: #1a695954;;
    color: white;
}

.sys{
    font-size: 15px;
    background: #3f635cb0;
}

.on-key-press {
    background-color: #1a695954;
    box-shadow: 0 0 11px 2px white;
    color: #e4e0e0ed;
    transform: scale(0.95) translateX(2px) translateY(2px);
}

.info {
    color: #8a8a8a;
    margin-left: 10px;
    margin-top: 10px;
}